.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.928711;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.923340;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.sc0{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._4{margin-left:-10.202031px;}
._6{margin-left:-5.258314px;}
._1{margin-left:-4.121109px;}
._5{margin-left:-1.795280px;}
._7{width:69.700000px;}
._0{width:101.344000px;}
._2{width:191.056000px;}
._3{width:207.833109px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:56.000000px;}
.fs5{font-size:58.000000px;}
.fs1{font-size:64.000000px;}
.fs3{font-size:72.000000px;}
.fs4{font-size:80.000000px;}
.fs0{font-size:96.000000px;}
.y0{bottom:0.000000px;}
.y9{bottom:48.686798px;}
.y20{bottom:76.535233px;}
.y1f{bottom:93.335236px;}
.y8{bottom:99.086761px;}
.y1e{bottom:110.135231px;}
.y1d{bottom:126.935234px;}
.y7{bottom:149.486740px;}
.y1c{bottom:160.535244px;}
.y1b{bottom:177.335243px;}
.y1a{bottom:194.135242px;}
.y3b{bottom:197.565201px;}
.y6{bottom:199.886703px;}
.y19{bottom:210.935245px;}
.y3a{bottom:230.655899px;}
.y5{bottom:250.286682px;}
.y21{bottom:261.094660px;}
.y39{bottom:264.255890px;}
.y38{bottom:297.855896px;}
.y4{bottom:300.686691px;}
.y18{bottom:327.246063px;}
.y37{bottom:331.455902px;}
.y17{bottom:344.046066px;}
.y3{bottom:351.086695px;}
.y16{bottom:360.846069px;}
.y36{bottom:365.055902px;}
.y15{bottom:377.646072px;}
.y2{bottom:401.776594px;}
.y14{bottom:411.246078px;}
.y13{bottom:428.046082px;}
.y27{bottom:432.115290px;}
.y12{bottom:444.846085px;}
.y26{bottom:451.875519px;}
.y11{bottom:461.646080px;}
.y25{bottom:468.675522px;}
.y10{bottom:495.246086px;}
.y30{bottom:497.474564px;}
.y24{bottom:502.275524px;}
.yf{bottom:512.046093px;}
.y2f{bottom:514.274567px;}
.y23{bottom:519.075525px;}
.ye{bottom:528.846092px;}
.y2e{bottom:530.840286px;}
.yd{bottom:545.646091px;}
.y22{bottom:557.412809px;}
.yc{bottom:562.446094px;}
.y2d{bottom:564.674576px;}
.y2c{bottom:581.474579px;}
.y35{bottom:588.514496px;}
.y2b{bottom:598.040298px;}
.yb{bottom:608.836710px;}
.y2a{bottom:631.874580px;}
.y29{bottom:648.674580px;}
.y34{bottom:655.714508px;}
.y28{bottom:665.240301px;}
.ya{bottom:672.450779px;}
.y33{bottom:706.114511px;}
.y31{bottom:713.565302px;}
.y1{bottom:726.534372px;}
.y32{bottom:742.452583px;}
.h7{height:38.281250px;}
.h9{height:40.167969px;}
.h5{height:40.769531px;}
.h4{height:40.824219px;}
.ha{height:42.282227px;}
.h3{height:43.750000px;}
.h6{height:51.644531px;}
.h8{height:58.242188px;}
.h2{height:68.859375px;}
.h0{height:779.750000px;}
.h1{height:780.000000px;}
.w0{width:540.000000px;}
.x0{left:0.000000px;}
.x3{left:19.089050px;}
.x2{left:28.039059px;}
.x7{left:216.100067px;}
.x1{left:217.749985px;}
.x4{left:227.749924px;}
.x6{left:233.389282px;}
.x5{left:251.485748px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._4{margin-left:-13.602708pt;}
._6{margin-left:-7.011085pt;}
._1{margin-left:-5.494812pt;}
._5{margin-left:-2.393706pt;}
._7{width:92.933333pt;}
._0{width:135.125333pt;}
._2{width:254.741333pt;}
._3{width:277.110812pt;}
.fs2{font-size:74.666667pt;}
.fs5{font-size:77.333333pt;}
.fs1{font-size:85.333333pt;}
.fs3{font-size:96.000000pt;}
.fs4{font-size:106.666667pt;}
.fs0{font-size:128.000000pt;}
.y0{bottom:0.000000pt;}
.y9{bottom:64.915731pt;}
.y20{bottom:102.046977pt;}
.y1f{bottom:124.446981pt;}
.y8{bottom:132.115682pt;}
.y1e{bottom:146.846975pt;}
.y1d{bottom:169.246979pt;}
.y7{bottom:199.315653pt;}
.y1c{bottom:214.046992pt;}
.y1b{bottom:236.446991pt;}
.y1a{bottom:258.846990pt;}
.y3b{bottom:263.420268pt;}
.y6{bottom:266.515605pt;}
.y19{bottom:281.246993pt;}
.y3a{bottom:307.541199pt;}
.y5{bottom:333.715576pt;}
.y21{bottom:348.126213pt;}
.y39{bottom:352.341187pt;}
.y38{bottom:397.141195pt;}
.y4{bottom:400.915588pt;}
.y18{bottom:436.328084pt;}
.y37{bottom:441.941203pt;}
.y17{bottom:458.728088pt;}
.y3{bottom:468.115593pt;}
.y16{bottom:481.128092pt;}
.y36{bottom:486.741203pt;}
.y15{bottom:503.528097pt;}
.y2{bottom:535.702126pt;}
.y14{bottom:548.328105pt;}
.y13{bottom:570.728109pt;}
.y27{bottom:576.153720pt;}
.y12{bottom:593.128113pt;}
.y26{bottom:602.500692pt;}
.y11{bottom:615.528107pt;}
.y25{bottom:624.900696pt;}
.y10{bottom:660.328115pt;}
.y30{bottom:663.299418pt;}
.y24{bottom:669.700699pt;}
.yf{bottom:682.728124pt;}
.y2f{bottom:685.699422pt;}
.y23{bottom:692.100700pt;}
.ye{bottom:705.128123pt;}
.y2e{bottom:707.787048pt;}
.yd{bottom:727.528122pt;}
.y22{bottom:743.217079pt;}
.yc{bottom:749.928125pt;}
.y2d{bottom:752.899434pt;}
.y2c{bottom:775.299438pt;}
.y35{bottom:784.685994pt;}
.y2b{bottom:797.387065pt;}
.yb{bottom:811.782280pt;}
.y2a{bottom:842.499441pt;}
.y29{bottom:864.899439pt;}
.y34{bottom:874.286011pt;}
.y28{bottom:886.987068pt;}
.ya{bottom:896.601039pt;}
.y33{bottom:941.486015pt;}
.y31{bottom:951.420403pt;}
.y1{bottom:968.712496pt;}
.y32{bottom:989.936778pt;}
.h7{height:51.041667pt;}
.h9{height:53.557292pt;}
.h5{height:54.359375pt;}
.h4{height:54.432292pt;}
.ha{height:56.376302pt;}
.h3{height:58.333333pt;}
.h6{height:68.859375pt;}
.h8{height:77.656250pt;}
.h2{height:91.812500pt;}
.h0{height:1039.666667pt;}
.h1{height:1040.000000pt;}
.w0{width:720.000000pt;}
.x0{left:0.000000pt;}
.x3{left:25.452067pt;}
.x2{left:37.385412pt;}
.x7{left:288.133423pt;}
.x1{left:290.333313pt;}
.x4{left:303.666565pt;}
.x6{left:311.185710pt;}
.x5{left:335.314331pt;}
}
